.headline{
  width: 100%;
  overflow: hidden;
  .headlineItems{
    overflow-y: hidden;
    display: flex;
    flex-wrap: no-wrap;
    width: auto;
    .headlineItem{
      position: relative;
      margin: 8px 8px 8px 0;
      &:first-child{
        margin-left: 8px;
      }
    }
    dt{
      position: absolute;
      bottom: 0;
      z-index: 999;
      background-color: rgba(200, 200, 200, 0.7);
      width: 100%;
    }
    dd{
      position: absolute;
      margin: 0;
    }
    .headlineItem{
      height: 150px;
      flex: 0 0 200px;
      img{
        width: 200px;
        height: 150px;
        object-fit: cover;
        object-position: 50% 100%;
      }
    }
    &::-webkit-scrollbar {
      display:none;
    }
  }
}








.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}
